.flexcontainer{
    border: 1px solid red;
    display:flex;
    height: 90vh;
    justify-content: space-around;
    align-items: center;

}
.flexitem{
    background-color: yellow;
    border: 2px solid red;
    color:red;
    font-size: 24px;
    height:60px;
}