.main_h1{
    text-align: center;
    
}
.main_h2{
    border-bottom: 1px solid black;
}

.container1{
    display: flex;
    border: 1px solid black;
    gap: 5px;
    height: 10vh;
    align-items: center;
    justify-content: center;
}

.item1{
    border: 1px solid black;
    background-color: rgb(94, 207, 252);
    height: 60px;
    width: 60px;
}

.container2{
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

.item2{
    border: 1px solid black;
    background-color: rgb(94, 207, 252);
    height: 60px;
    width: 60px;
}

.container3{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    gap: 10px;
    padding:10px;
}

.item3{
    border: 1px solid black;
    background-color: rgb(94, 207, 252);
    height: 60px;
    width: 60px;
}

.container4{
    display: flex;
    border: 1px solid black;
    padding: 5px;

    align-items: center;
}

.item4{
    border: 1px solid black;
    background-color: rgb(94, 207, 252);
    height: 60px;
    width: 60px;
}

.container5{
    display: flex;
    border: 1px solid black;
    gap:10px;
    padding: 5px;
}

.item5{
    border: 1px solid black;
    background-color: rgb(94, 207, 252);
    height: 60px;
    width: 60px;
    text-align: center;
}

.item5:nth-child(2) {
    height: 100px;
}

.container6{
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

.item6{
    border: 1px solid black;
    background-color: rgb(94, 207, 252);
    height: 60px;
    width: 300px;
    text-align: center;
}

.container7{
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

.item7{
    border: 1px solid black;
    background-color: rgb(94, 207, 252);
    height: 60px;
    width: 40px;
    text-align: center;
}