.flexcontainer{
    border: 1px solid red;
    display:flex;
    height: 90vh;
    gap: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column-reverse;
    justify-content: flex-end;
}
.flexitem{
    background-color: yellow;
    border: 2px solid red;
    color:red;
    font-size: 24px;
    height:60px;
}