* {
  margin: 0;
  padding: 0;
}
.h1{
  text-align: center;
  color: white;
  border: 3px solid red;
}
.h5{
  text-align: center;
  color: white;
}

#a{
  background-color: rgb(0, 0, 255);
  padding: 30px;
  border-radius: 8px;
}
body{
  background-color: rgb(170,170,170);
}
.section{
  background-color: aliceblue;
  border-radius: 8px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.div{
  font-size: 15px;
  background-color: rgb(201, 238, 247);
  border-radius: 8px;
  padding:20px;
  margin:10px
}